*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Dots';
  background-color: #3c3c3d;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 100%);
}

/* CARD STARTS HERE */
.card {
  background-color: hsl(0, 0%, 42%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow:  rgba(14, 13, 13, 0.5) 0 0 12px 2px;
  color: hsl(240, 100%, 100%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 500px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.card-body {
  min-height: 100px;
}
/* PASSWORD TEXT AREA */
#passwordDisplay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-family: 'Zen Dots';
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: vertical;
  overflow: hidden;
}

/* COPY BUTTON */
.copy-button {
  margin-top: -150px;
  margin-bottom: 15px;
}

.text-container {
position: relative;
}

#copy-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-image: linear-gradient(to top right, rgb(45, 158, 119),rgb(34, 44, 133));
  background-size: 250%;
  background-position: right;
  transition: background-position 500ms;
  color: rgb(236, 229, 229);
  border: none;
  border-radius: 3px;
  padding-left: none;
}

#copy-button:hover {
  background-position: left;
  cursor: pointer;
  
}
/* PASSWORD TEXT AREA ENDS HERE */

.card-form {
  font-family: 'Play', sans-serif;
  margin-top: 30px;
}

/* RANGE SLIDER STYLING STARTS HERE */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-color: rgba(170, 168, 168, 0.5);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 1px 3px  rgba(91, 136, 130, 0.562), 0px 0px 1px #0d0d0d;
  /* border: 1px solid #ffffff; */
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background-image: linear-gradient(to top right, rgb(45, 158, 119),rgb(34, 44, 133));
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 10px rgb(236, 229, 229, 0.5);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-webkit-slider-fill-lower {
  background-image: linear-gradient(to right, rgb(45, 158, 119),rgb(34, 44, 133));
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.character-amount-input {
  margin-top: 5px;
  margin-left: 60px;
  width: 2.18rem;
  height: 1.5rem;
  border: 2px dashed #c0c7cf;
  border-radius: 4px;
  font-family: 'Play';
  font-weight: bold;
  color:rgb(37, 37, 37);
}
/* RANGE SLIDER ENDS HERE*/

/*  CHECKBOXES START HERE */
.number-of-characters,
.include-numbers,
.include-uppercase,
.include-symbols {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.include-numbers,
.include-uppercase,
.include-symbols {
  margin-top: 15px;
  position: relative;
}

.checkbox-container label {
  margin-right: auto;
  margin-left: -20px;
}

.checkbox-container label::before {
  content: '';
  border: 2px dashed #c0c7cf;
  border-radius: 4px;
  background: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 1px;
  margin-right: -20px;
}

.checkbox-container input[type=checkbox]:checked + label::before {
  content: '\002714';
  height: 20px;
  width: 20px;
  box-shadow: 0 0 5px rgb(180, 177, 177);
  background-image: linear-gradient(to top right, rgb(45, 158, 119),rgb(34, 44, 133));
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.checkbox-container input[type=checkbox]::-ms-check + label::before {
  color: white;
}

.checkbox-container input[type=checkbox]:disabled label::before {
  background-color: #ccc;
  border-color: #999;
}

.checkbox-container label:hover::before {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(180, 177, 177);
  background-image: linear-gradient(to top right, rgb(45, 158, 119),rgb(34, 44, 133));
  border: 1px solid white;
}

.checkboxes input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-right: 21px;
  
}
/* CHECKBOXES END HERE */

/* CARD FOOTER STARTS HERE*/
.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  font-family: 'Zen Dots';
  border: none;
  background-image: linear-gradient(to right, rgb(45, 158, 119),rgb(34, 44, 133),rgb(45, 158, 119));
  background-size: 300%;
  background-position: left;
  border-radius: 25px;
  box-shadow: rgba(143, 139, 139, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 38px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  transition: background-position 1000ms, box-shadow 500ms, transform 620ms;
}

.btn:hover {
  background-position: right;
  transform: translateY(-.085rem);
  box-shadow:hsl(0, 0%, 100%) 0 3px 6px 0;
}

.btn:active {
  transform: scale(.95);
  box-shadow: none;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* MEDIA QUERIES START HERE */
/*SCREENS UP TO 690px*/
@media (max-width: 690px) {
  #password {
    font-size: 1rem;
  }
}
/* SCREENS UP TO 550px */
@media (max-width: 550px) {
  .character-amount-input {
    margin-left: 50px;
  }
}

/*SCREENS UP TO 500px*/
@media (max-width: 500px) {
  #passwordDisplay {
    font-size: 13px;
  }
  
  .btn {
    margin-top: 21px;
    font-size: 20px;
  }
  
  .number-slider {
    display: flex;
    align-items: center;
  } 
}

/*SCREENS UP TO 465px*/
@media (max-width: 465px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

/* SCREENS UP TO 450px */
@media (max-width: 450px) {
  .character-amount-input {
    margin-left: 40px;
  }
}

/*SCREENS UP TO 405px*/
@media (max-width: 405px) {
  .btn {
    margin-top: 12px;
    font-size: 16px;
  }

  .character-amount-range {
    width: 7rem;
  }

  .character-amount-input {
    margin-left: 40px;
  }
}

/*SCREENS UP TO 387px*/
  @media (max-width: 387px) {
    .character-amount-input {
      margin-right: 7px;
      margin-left: 30px;
    }

    .number-slider {
      margin-right: -7px;
    }
  }

/*SCREENS UP TO 360px*/
  @media (max-width: 360px) {
    .btn {
      font-size: 12px;
    }

    .character-amount-range {
      width: 6rem;
    }

    .character-amount-input {
      margin-left: 30px;
    }
  }

 /*SCREENS UP TO 320px*/
  @media (max-width: 325px) {
    .character-amount-input {
      margin-left: 25px;
    }
    .card-form {
      font-size: 12px;
    }
  }

  /*SCREENS UP TO 280px*/
  @media (max-width: 300px) {
    .character-amount-range {
      width: 4rem;
    }
    .character-amount-input {
      margin-left: 20px;
    }
  }

