*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Dots';
  background-color: #3c3c3d;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 100%);
}

.card {
  background-color: hsl(0, 0%, 42%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow:  rgba(14, 13, 13, 0.5) 0 0 12px 2px;
  color: hsl(240, 100%, 100%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 500px;
  padding: 1.65rem;
  display: flex;
  flex-direction: column;
}

.card-body {
  min-height: 100px;
}

.card-form {
  font-family: 'Play', sans-serif;
  margin-top: 30px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background-image: linear-gradient(to right, rgb(45, 158, 119),rgb(34, 44, 133));
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-webkit-slider-fill-lower {
  background-image: linear-gradient(to right, rgb(45, 158, 119),rgb(34, 44, 133));
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-left: 2rem;
  width: 2rem;
  height: 1.5rem;
}

.number-of-characters,
.include-numbers,
.include-uppercase,
.include-symbols {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.include-numbers,
.include-uppercase,
.include-symbols {
  margin-top: 15px;
}

.checkboxes {
  margin-top: -10px;
  margin-bottom: 20px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  font-family: 'Zen Dots';
  border: none;
  background-image: linear-gradient(to right, rgb(45, 158, 119),rgb(34, 44, 133),rgb(45, 158, 119));
  background-size: 200%;
  background-position: left;
  border-radius: 25px;
  box-shadow: rgba(143, 139, 139, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 38px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  transition: background-position 1000ms, box-shadow 500ms, transform 620ms;
}

.btn:hover {
  background-position: right;
  transform: translateY(-.085rem);
  box-shadow:hsl(0, 0%, 100%) 0 3px 6px 0;
}

.btn:active {
  transform: scale(.95);
  box-shadow: none;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#passwordDisplay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-family: 'Zen Dots';
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  
  .btn {
    margin-top: 21px;
    font-size: 20px;
  }
  
  .number-slider {
    display: flex;
    align-items: center;
  } 
}

@media (max-width: 405px) {

  .btn {
    margin-top: 12px;
    font-size: 16px;
  }

  .number-range {
    width: 7rem;
  }

  .number-input {
    margin-left: 20px;
  }

  .card-form {
    font-size:13px;
  }
}

  @media (max-width: 360px) {
    
    .btn {
      font-size: 12px;
    }
    
    .number-range {
      width: 6rem;
    }
  }

